body{
    background-color: #a7b5c4;
/* opacity: 0.8; */
/* background-image:  radial-gradient(circle farthest-side at 0% 50%, #e6eef7 23.5%, transparent 0), radial-gradient(circle farthest-side at 0% 50%, #f75a45 24%, transparent 0), linear-gradient(#e6eef7 14%, transparent 0, transparent 85%, #e6eef7 0), linear-gradient(150deg, #e6eef7 24%, #f75a45 0 26%, transparent 0 74%, #f75a45 0 76%, #e6eef7 0), linear-gradient(30deg, #e6eef7 24%, #f75a45 0 26%, transparent 0 74%, #f75a45 0 76%, #e6eef7 0), linear-gradient(90deg, #f75a45 1.6%, #e6eef7 0 98.4%, #f75a45 0); */
/* background-position: 16px 23px, 14px 23px, 0 0, 0 0, 0 0, 0 0;
background-size: 30px 45px; */
height: 100vh;
/* display: flex;
flex-direction: column;
font-family: cursive;
font-size: x-large;
color: #6531de; */
width: 100%;
padding: 0%;
margin: 0;
}
h1{
    font-style: italic;
    color: black;
    margin-left: 40%;
}
main{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    padding: 4rem;
    justify-content: center;
}
section{
    margin: 2rem;
}
form{
    width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: x-large;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8rem 8rem 8rem;
    gap: 0.5rem;
}
.box{
    background-color: bisque;
    height: 8rem;
    width: 8rem;
    border-radius: 1rem;
    border: 1 px orangered solid;
    color: rgb(7, 7, 7);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
.player{
    display: flex;
    flex-direction: column;
    font-size: x-large;
    padding-top: 10px;
}